.countries-container {
    display: flex;
    flex-direction: row;
    height: 90vh;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    color: rgb(8, 8, 8);
    text-align: center;
}

.left-column {
    width: 200px;
    background-color: #333435;

    display: flex;
    flex-direction: column;
    padding: 5px;
    box-sizing: border-box;
}
.left-column > * {
    margin-bottom: 0; /* Removes margin between components */
}
.countries-container {
    display: flex;
    height: 90vh;
}

.MuiDrawer-paper {
    background-color: #f9f9f9;
    padding: 20px;
}

.countries-adding-component,
.countries-list-component {
    width: 100%;
    margin-bottom: 16px;
}

.right-content {
    flex-grow: 1;
    height: 100%;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
}

button.btn-success-country {
    width: 100%;
    padding: 10px;
    margin: 0px 0; /* Ensure no margin */
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 4px;
    background-color: #2a9452;
    color: white;
    border: none; /* Remove default border */
}

button.btn-success-country:hover {
    background-color: #2d8632;
}

button.btn-success-country:active {
    background-color: #3e8e41;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}

/* Importing Google Fonts for better typography */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.input-field-countries {
    width: 100%;
    padding: 8px 12px;
    margin: 8px 0; /* Margin for spacing between form elements */
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    transition: border-color 0.3s;
}

.input-field-countries:focus {
    border-color: #4CAF50;
    outline: none;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .countries-container {
        flex-direction: column; /* Stack columns vertically on smaller screens */
    }

    .left-column,
    .right-content {
        width: 100%; /* Full width for both columns */
        height: auto; /* Adjust height for content */
    }

    .input-field-countries {
        font-size: 14px;
    }

    button.btn-success-country {
        font-size: 18px;
    }
}
