.place-input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .error {
    color: red;
    margin-top: 5px;
    font-size: 12px;
  }
  .place-adding-header {
    font-size: 50px;
    font-weight: 400;

  }

  .right-place-adding-column {
    width: 500px; /* Adjust as necessary */
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 5px;
    box-sizing: border-box;
    border-right: 1px solid #ccc; 
    background-color: #f9f9f9;

  }